{{#is "tag"}}
  {{#tag}}
    <div class="tag-title">Posts tagged "{{name}}"</div>
  {{/tag}}
{{/is}}
{{#foreach posts}}
<time class="excerpt-date" datetime="{{date format='YYYY-MM-DD'}}">
  {{date format="YYYY MMM DD"}}
</time>
  <div class="post-wrapper">
    {{#if image}}
    <a href="{{url}}">
        <div class="excerpt-image" style="background-image:url({{image}})">
        </div>
    </a>
    {{/if}}
      <a href="{{url}}"class="post-excerpt">
        <div class="date-time">
          <time class="excerpt-date-phone" datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="YYYY MMM DD"}}
          </time>
          <div class="time-to-read">
            <div class="content-string">
              {{excerpt words="5000"}}
            </div>
          </div>
        </div>
        <h2 class="excerpt-title">
          {{title}}
        </h2>
        <div class="excerpt-description">
          {{excerpt words="50"}}
        </div>
        {{#if tags}}
        <div class="top-tags">
          {{#foreach tags limit="3"}}
            <div class="tag">{{name}}</div>
          {{/foreach}}
        </div>
        {{/if}}
      </a>
  </div>
{{/foreach}}
